body{
    width: 400px;
    margin: 0 auto;
    color: #fff;
    padding-top: 120px;
    
    background-image: url(../images/56682556019573185.jpg);
}
h2,h3,h5{
    text-align: center;  text-shadow: #000000 0.1em 0.1em 0.2em}
    p{text-indent: 2em;text-shadow:  #000000 0.1em 0.1em 0.2em}
